* {
   box-sizing: border-box;
}

html, body, h1, h2, fieldset, form, label, article,  header {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;

}

body {
   max-width: 600px;
   background: white;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
}



header {
   background: #FFC340;
   width: 100%;
   color: black;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}


article {
   text-align: center;
   background: white;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

article h2 {
   font-weight: bold;
   font-size: 24px;
   padding: 10px;
}


form {
   background: #A67100;
   padding: 5px;
   height: 110px;
}
fieldset {
   padding: 1em 0.5em;
   background: #FFAE00;
   border: none;
   float: left;
   width: 33.3334%;
   height: 100px;
}
input {
   font-size: 1em;
   width: 5em;
   clear: left;
}

label {
   display: block;
}
input, label, form , p {
   margin: 5px;
   text-align:center;
}
p {
   clear: left;
}
p#kValue {
   width: 4em;
   font-size: 1.1em;
   height: 1.4em;
   background: white;
   padding: 0.2em;
   margin: 0 auto;
}
