.card {
    margin: 0 auto;
    float: none;
}

.showroom-btn {
    height: 400px;
}

.navbar {
    background-color: #2B2C37 !important;
}

body {
    background-color: #F7F8FA !important;
}

.main-btn, #showroomBtn {
    background-color: #D8A359 !important;
    color: #2B2C37;
    border: none;
}

a {
    color: #D8A359 !important;
}

.footer {
    background-color: #2B2C37 !important;
}

.footer-copyright {
    background-color: #D8A359 !important;
    color: #2B2C37 !important;
}

.nav-link {
    color: #F7F8FA !important;
}

.nav-link:hover{
    color: #D8A359 !important;
}

.navbar-brand {
    font-size: 24px;
}

.dropdown-menu {
    background-color: #2B2C37 !important;
}

.dropdown-item {
    color: #F7F8FA !important;
}

.dropdown-item:hover{
    background-color: #2B2C37 !important;
    color: #D8A359 !important;
}

h1 {
    color: #D8A359 !important;
}

h2 {
    color: #2B2C37 !important;
}

p {
    color: #2B2C37 !important;
}

label {
    color: #2B2C37 !important;
}

input {
    color: #2B2C37 !important;
}

footer p {
    color: #D8A359 !important;
}

footer h5 {
    color: #F7F8FA !important;
}

.footer-copyright a {
    color: #2B2C37 !important;
}

.card {
    background-color: #2B2C37 !important;
    color: #D8A359 !important;
}

.list-group-item     {
    background-color: #2B2C37 !important;
    border-color: #D8A359 !important;
}

.card button {
    background-color: #D8A359 !important;
    color: #2B2C37 !important;
    border: none;
}